body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Warna latar belakang gelap */
    color: #ffffff; /* Warna teks putih */
}

header {
    background-color: #1e1e1e; /* Warna latar belakang header */
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    color: #bb86fc; /* Warna link */
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline; /* Efek hover pada link */
}

/* Dropdown Menu */
nav ul li ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #1e1e1e;
    padding: 10px 0;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
    padding: 8px 20px;
}

nav ul li ul li a {
    color: white;
}

nav ul li ul li a:hover {
    background-color: #333;
    color: #bb86fc;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #333; /* Warna border */
    border-radius: 5px;
    background-color: #1e1e1e; /* Warna latar belakang section */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1e1e1e; /* Warna latar belakang footer */
    position: relative;
    bottom: 0;
    width: 100%;
}
